node_modules/
client/node_modules/
server/node_modules/
client/dist/
.next/
downloads/*
source/*
output/*
tmp/*
!downloads/.gitkeep
!source/.gitkeep
!output/.gitkeep
!tmp/.gitkeep
.env
.DS_Store
npm-debug.log*
